@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap');

:root   {
   --ungu : #563D7C;
   --tua : #7952B3;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #303030;
}
.login-container {
            background: white;
            padding: 2rem;
            border-radius: 0.5rem;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 100%;
            max-width: 400px;
        }
        .login-container h2 {
            margin-bottom: 1.5rem;
        }
        .form-group i {
            position: absolute;
            margin: 10px;
        }
        .form-group {
            position: relative;
        }
.my-navbar {
    background-color: var(--ungu);
    
}
.my-navbar .icon{
    color: var(--tua);
}
.heroes{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.heroes h5{
    color: var(--blue);
    margin-bottom: 1.5rem;
}
.heroes h1{
    font-weight: 600;
    
}
.heroes p{
    font-weight: 200;
    margin-bottom: 2rem;
}
.heroes .get-started{
    color: var(--blue);
    text-decoration: none;
}
.heroes .btn-regis {
    background-color: var(--orange);
    color: white;
}
.heroes .btn-regis:hover{
    background-color: var(--blue);
    color: white;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.heroes::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/pattern.png);
    background-size: cover;
    background-position: center;
    z-index: -1;
    filter: opacity(10%);
}

.info-panel .col-md{
    border: 1px solid #e5e5e5;
    box-shadow: 2px 2px rgba(0, 0, 0, 0);
    margin: 0 0.8rem;
    padding: 1rem 1rem 0.5rem 1rem;
    background-color: white;
}
.info-panel i{
    font-size: 2.5rem;
    margin-right: 1rem;
    color: var(--ungu);
}
.info-panel .number{
    font-weight: 600;
    font-size: 2rem;
}
.info-panel .person{
    font-weight: 200;
    font-size: 1.3rem;
}

.tentang {
    font-weight: 600;
    font-size: 2rem;
}
.bg-gray{
    background-color: #f6f6f6;
}
.about{
    margin-top: -2.5rem;
    padding-top: 16PX;
    padding-bottom: 3rem;
    font-weight: 600;
    
}
@media (max-width ="576px"){
    html{
        font-size: 80px;
    }
    .heroes{
        text-align: center;
    }
    .heroes h5{
        margin-top: 2rem;
    }
}
.footer {
    background-color: var(--ungu);
    padding: 12px;
    color: white;
    text-align: center;
}
