* {
    margin: 0;
    padding: 0;
}

body {
    font: 16px/28px arial, sans-sharif ;
    background-color: #eaeaea;
    color: #333;
    background-image: url(img/pattern.png);

}
.container {
    width: 900px;
    margin: auto;
    background-color:#fff;
}

.header{
    padding: 20px;
    padding-bottom: 10px;
}

.header .judul {
    font-size: 40px;
    font-weight: bold;

}

.header ul li {
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;
}

.header a {
    text-decoration: none;
    color: skyblue;
    padding: 3px;
}

.header a:hover {
    background-color: skyblue;
    color: white;
}

.hero {
    height: 350px;
    background-image: url(img/hero.jpg.jpg);
    background-size: cover;
    background-position: 0 -170;
    border-bottom: 5px solid, skyblue;
    border-top: 5px solid, orange;
}
.hero1 {
    height: 350px;
    background-image: url(img/da.jpg);
    background-size: cover;
    background-position: 0 -170;
    border-bottom: 5px solid, skyblue;
    border-top: 5px solid, orange;
}
.hero2 {
    height: 350px;
    background-image: url(img/dd.jpg);
    background-size: cover;
    background-position: 0 -170;
    border-bottom: 5px solid, skyblue;
    border-top: 5px solid, orange;
}
.hero3 {
    height: 350px;
    background-image: url(img/da.jpg);
    background-size: cover;
    background-position: 0 -170;
    border-bottom: 5px solid, skyblue;
    border-top: 5px solid, orange;
    
    
}

.main {
    overflow: auto;
}

.content {
    padding: 20px;
    width: 600px;
    float: left;
    box-sizing: border-box;

}
.sidebar {
    width: 300px;
    float: right;
    padding: 20px;
    box-sizing: border-box;
    
}

.sidebar img {
    width: 70px;
    height: 70px;
    float: left;
    padding-right: 10px;
}

.sidebar h3{
    font-weight: bold;
    color: #333;
}

.sidebar a{
    font: 12px/18px arial;
}
.content h2{
    font-size: 28px;
    font-weight: bold;
}

.content .penulis {
    font-size: 11px;
    margin-top: -5px;
}

.content .penulis a{
    color: lightskyblue;
    text-decoration: none;

}

.content p {
    margin-bottom: 20px;
    font-size: 14px;
}

.footer {
    background-color: orangered;
    padding: 12px;
    color: white;
    text-align: center;
}

